EIKON

In [2]:
import refinitiv.dataplatform.eikon as ek

ek.set_app_key('530101f74d64417c846f4ac3d4faef865c4120af')

guide
https://developers.lseg.com/en/video-catalog/data-item-browser

use data item browser in workspace and already set parameters

In [8]:
# calc date is reporting date

df, err = ek.get_data(
    instruments = ['TSLA.O'],
    fields = ['TR.TotalRevenue.calcdate', 'TR.TotalRevenue.date', 'TR.TotalRevenue'],
    parameters = {
        'Curn': 'USD',
        'SDATE': '2020-12-31',
        'EDATE': '2024-12-31',
        'FRQ': 'FY'
    }
)

display(df)

  Instrument   Calc Date                  Date  Total Revenue
0     TSLA.O  2021-01-27  2020-12-31T00:00:00Z    31536000000
1     TSLA.O  2022-01-26  2021-12-31T00:00:00Z    53823000000
2     TSLA.O  2023-01-25  2022-12-31T00:00:00Z    81462000000
3     TSLA.O  2024-01-24  2023-12-31T00:00:00Z    96773000000

In [ ]:
df, err = ek.get_data(
    instruments = ['TSLA.O'],
    fields = [
        'TR.OPENPRICE',
        'TR.LOWPRICE',
        'TR.HIGHPRICE',
        'TR.CLOSEPRICE',
        'TR.Volume']
)

display(df)

In [ ]:
a = rd.get_history(
    universe='TSLA.O',
    fields=['TR.OPENPRICE',
            'TR.LOWPRICE',
            'TR.HIGHPRICE',
            'TR.CLOSEPRICE',
            'TR.Volume',
            'TR.NetIncome'],
    interval="1D",
    start="2015-01-01",
    end="2019-10-01"
)
print(a)

how was this formula made?
how can I change header?

In [5]:
df, err = ek.get_data(
    instruments = ['TSLA.O'],
    fields = [
        'if(TR.NetIncome(Period=FY0)>0,1,0)+if(TR.CashFromOperatingAct(Period=FY0)>0,1,0)+if(TR.ROAActValue(Period=FY0)>TR.ROAActValue(Period=FY-1),1,0)+if(TR.CashFromOperatingAct(Period=FY0)>TR.NetIncomeBeforeExtraItems(Period=FY0),1,0)+if(TR.LTDebtToTotalAssetsPct(Period=FY0)>=TR.LTDebtToTotalAssetsPct(Period=FY-1),1,0)+if(TR.CurrentRatio(Period=FY0)>TR.CurrentRatio(Period=FY-1),1,0)+if(TR.SaleIssuanceOfCommon(Period=FY0)>=0,1,0)+if(TR.GrossProfitMarginIndustrialAndUtilityPct(Period=FY0)>=TR.GrossProfitMarginIndustrialAndUtilityPct(Period=FY-1),1,0)+if(TR.AssetTurnover(Period=FY0)>TR.AssetTurnover(Period=FY-1),1,0)/*Piotroski F-Score*//*Piotroski F-Score*/'
    ]
)

display(df)

,Instrument,"IF(TR.NETINCOME(PERIOD=FY0)>0,1,0)+IF(TR.CASHFROMOPERATINGACT(PERIOD=FY0)>0,1,0)+IF(TR.ROAACTVALUE(PERIOD=FY0)>TR.ROAACTVALUE(PERIOD=FY-1),1,0)+IF(TR.CASHFROMOPERATINGACT(PERIOD=FY0)>TR.NETINCOMEBEFOREEXTRAITEMS(PERIOD=FY0),1,0)+IF(TR.LTDEBTTOTOTALASSETSPCT(PERIOD=FY0)>=TR.LTDEBTTOTOTALASSETSPCT(PERIOD=FY-1),1,0)+IF(TR.CURRENTRATIO(PERIOD=FY0)>TR.CURRENTRATIO(PERIOD=FY-1),1,0)+IF(TR.SALEISSUANCEOFCOMMON(PERIOD=FY0)>=0,1,0)+IF(TR.GROSSPROFITMARGININDUSTRIALANDUTILITYPCT(PERIOD=FY0)>=TR.GROSSPROFITMARGININDUSTRIALANDUTILITYPCT(PERIOD=FY-1),1,0)+IF(TR.ASSETTURNOVER(PERIOD=FY0)>TR.AssetTurnover(Period=FY-1),1,0)/*Piotroski F-Score*//*Piotroski F-Score*/"
0,TSLA.O,4

In [6]:
df, err = ek.get_data(
    instruments = ['IWDA.AS'],
    fields = [ 
        'TR.OPENPRICE(SDate=-200D,EDate=0D).calcdate',
        'TR.OPENPRICE(SDate=-200D,EDate=0D)'
    ]
)

display(df)

    Instrument   Calc Date  Open Price
0      IWDA.AS  2023-12-11        81.0
1      IWDA.AS  2023-12-12      81.255
2      IWDA.AS  2023-12-13      81.425
3      IWDA.AS  2023-12-14      82.165
4      IWDA.AS  2023-12-15      81.695
..         ...         ...         ...
196    IWDA.AS  2024-09-18      94.965
197    IWDA.AS  2024-09-19        95.5
198    IWDA.AS  2024-09-20      95.665
199    IWDA.AS  2024-09-23      95.615
200    IWDA.AS  2024-09-24      96.365

[201 rows x 3 columns]